.GameCanvas {
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 102.4em;
    height: 57.6em;
    margin-left: -51.2em;
    margin-top: -28.8em;
    overflow: hidden;
    background: red;
}
