.Obstacle {

	position: absolute;
  
    left: 50%; /* sprite’s position */
    top: 33%;
    width: 32px; /* size */
    height: 32px;
  
    margin: -16px 0 0 -16px; /* just to place it in a centre */
    background: url(http://www.splashnology.com/uploads/2011/07/sprite.png) no-repeat 0 0; /* background */
  
    -webkit-animation-name: sprite; 
    -webkit-animation-duration: .3s; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}



@-webkit-keyframes sprite
{
    0%
    {
        background-position: -0px 0;
    }

    33.332%
    {
        background-position: -0px 0;
    }

    33.334%
    {
        background-position: -32px 0;
    }

    66.665%
    {
        background-position: -32px 0;
    }

    66.667%
    {
        background-position: -64px 0;
    }

    99.999%
    {
        background-position: -64px 0;
    }
    
    100%
    {
        background-position: -0px 0;
    }
}