.Player {
	position: absolute;
	top: 0;
	width: 5em;
	height: 5em;
	background: black;
	transform-origin: bottom left;

	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;

	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;

	-moz-border-radius-topleft: 50px;
	border-top-left-radius: 25px;

	animation:slidein 2s infinite;
	-webkit-animation:slidein 2s infinite;

}

@keyframes slidein 
{
	0%   { -webkit-transform: top:0px; }
	25%  { -webkit-transform: top:10px; }
	50%   { -webkit-transform: top:0px; }
}
/* Chrome and safari */
@-webkit-keyframes slidein 
{
	0% {top: 0px; }
	25% {top: 10px; }
	50%   { top:0px; }

}

.Player-wings {
	position: absolute;
	left: 20%;
	top: 40%;
  
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid green;

	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;

	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;

	-moz-border-radius-topleft: 50px;
	border-top-left-radius: 25px;

	transform-origin: top left;
	animation: 0.4s flap alternate infinite;
	-webkit-animation:flap 1s infinite;
}

@-webkit-keyframes flap {
 	0% { -webkit-transform: rotateX(0deg) ;}
  50% { -webkit-transform: rotateX(65deg) ;}
}

.Player-beak {
	position: absolute;
	right: -20%;
	top: 20%;

	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid orange;

}

.Player-eyes {
	position: absolute;
	top: 15%;
	left: 65%;
	width: 0.9em;
	height: 0.9em;
	background: white;

	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;

	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;

	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;

	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
}

.Player-eye-stones {
	position: absolute;
	background: black;
	top: 15%;
	left: 50%;
	width: 0.5em;
	height: 0.5em;

	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;

	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;

	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;

	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
}
