.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: 5em;
	background: black;

	animation:slidein 1s infinite;
	-webkit-animation:slidein 1s infinite;

}

@keyframes slidein 
{
	0%   {top:0px;}
	75%  {top:20px}
}

@-webkit-keyframes slidein /* Safari and Chrome */
{
	0%   {top:0px;}
	75%  {top:20px}
}

.Player-wings {
  position: absolute;
  right: 30%;
  top: 10%;
  height: 2em;
  width: 2em;
  
  background: yellow;
  transform-origin: top center;
  animation: 0.4s flap alternate infinite;
  -webkit-animation:flap 1s infinite;
}

@-webkit-keyframes flap {
 	0% { -webkit-transform: rotateX(0deg) ;}
  50% { -webkit-transform: rotateX(65deg) ;}
}
